<% if @current_user %>
  <%= render partial: "list" %>
<% else %>
  <div id="guests" class="page-section scrollspy">
    <div class="container" style="min-height: 500px">
      <h5 class="center-align">Confirme sua presença</h5>
      <br/>
      <%= text_field_tag 'guest[name]', '', placeholder: 'Digite seu nome aqui' %>
      <div class="guests-table"></div>
    </div>
  </div>
<% end %>