
<div id="cards" class="page-section scrollspy">
  <div class="container" >
      <div class="row">
          <div class="col s12 m4">
            <a target="_blank" href="https://maps.google.com">
              <div class="card hoverable black-text">
                <div class="card-image">
                  <%= image_tag 'map.png' %>
                </div>
                <div class="card-content">
                  <span class="card-title">Localização</span>
                  <p>Salão bem legal na, casa X, rua Y, bairro tal, Brasília, DF </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col s12 m4">
            <a target="_blank" href="http://casamento.casasbahia.com.br/#/lista-presentes/745936">
              <div class="card hoverable black-text">
                <div class="card-image">
                  <%= image_tag 'gift.jpg' %>
                </div>
                <div class="card-content">
                  <span class="card-title">Lista de Presentes</span>
                  <p>Lista de presentes disponivel no site www.lista.com.br</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col s12 m4">
            <a target="_blank" href="https://maps.google.com">
              <div class="card hoverable black-text">
                <div class="card-image">
                  <%= image_tag 'bg.jpeg' %>
                </div>
                <div class="card-content">
                  <span class="card-title">Mais um Card</span>
                  <p>Mais um cartão de demontração para preencher espaço</p>
                </div>
              </div>
            </a>
          </div>
      </div>
  </div>
</div>