<div id="history" class="page-section scrollspy">
  <div class="container center-align">
    <ul class="pagination">
      <li class="waves-effect">
        <a href="#!">
          <i class="material-icons history-previous">chevron_left</i>
        </a>
      </li>
      <li>
        <h3 class="grey-text text-darken-3">Testeeee</h3>
      </li>
      <li class="waves-effect">
        <a href="#!">
          <i class="material-icons history-next">chevron_right</i>
        </a>
      </li>
    </ul>
    <p class="range-field">
      <input type="range" id="history-range" value="0" min="0" max="10" step="1" />
    </p>
    <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend felis vel consectetur tincidunt. Quisque sed sagittis dolor. Etiam gravida metus sit amet urna fermentum, ut auctor turpis porttitor. Praesent at elit nec erat interdum maximus sit amet a nulla.</p>
  </div>
</div>