<div id="history" class="page-section scrollspy white-text" style="background: url(<%= image_path 'bg2.jpeg'%>); background-attachment: fixed; background-size: cover;">
  <div class="container center-align text-navigator">
    <ul class="pagination">
      <li class="waves-effect">
        <a href="#!">
          <i class="material-icons history-previous white-text">chevron_left</i>
        </a>
      </li>
      <li>
        <h3 class="text-navigator-title">História não encontrada</h3>
      </li>
      <li class="waves-effect">
        <a href="#!">
          <i class="material-icons history-next white-text">chevron_right</i>
        </a>
      </li>
    </ul>
    <p class="range-field">
      <input type="range" id="history-range" value="0" min="0" max="10" step="1" />
    </p>
    <p class="flow-text text-navigator-content">Não foram encontradas Histórias para serem exibidas aqui! Isso pode ter acontecido por não terem histórias cadastradas no site ou por seu navegador não ser compativel com JavaScript</p>
  </div>
</div>