<div id="honours" class="page-section scrollspy white-text" style="background: url(<%= image_path 'bg2.jpeg'%>); background-attachment: fixed; background-size: cover;">
  <div class="container center-align text-navigator">
    <ul class="pagination">
      <li class="waves-effect">
        <a href="#!">
          <i class="white-text material-icons honour-previous">chevron_left</i>
        </a>
      </li>
      <li>
        <h3 class="text-navigator-title">Homenagem n達o encontrada</h3>
      </li>
      <li class="waves-effect">
        <a href="#!">
          <i class="white-text material-icons honour-next">chevron_right</i>
        </a>
      </li>
    </ul>
    <p class="range-field">
      <input type="range" id="honour-range" value="0" min="0" max="10" step="1" />
    </p>
    <p class="flow-text text-navigator-content">N達o foram encontradas Homenagens para serem exibidas aqui! Isso pode ter acontecido por n達o terem homenagens cadastradas no site ou por seu navegador n達o ser compativel com JavaScript</p>
  </div>
</div>