<div id="pictures" class="page-section scrollspy">
  <div class="container">
      <div class="hide-on-small-only">
        <%= image_tag "carousel/carousel01.jpeg", id:"picture-main", style: 'width: 100%' %>
      </div>
      <div class="owl-carousel owl-theme">
        <% (1..19).each do |index| %>
          <a class="waves-effect hoverable">
            <img class="owl-lazy" data-src="<%= image_path("carousel/carousel#{format('%02d', index)}.jpg") %>" alt="">
          </a>
        <% end %>
      </div>
  </div>
</div>