<nav>
  <div class="nav-wrapper red lighten-3">
    <a href="#" class="brand-logo right black-text">Logo</a>
    <ul id="nav-mobile" class="left">
      <li>
        <a href="#history" class="black-text">Hitória do casal</a>
      </li>
      <li>
        <a href="#cards" class="black-text">Informações</a>
      </li>
      <li>
        <a href="#pictures" class="black-text">Fotos</a>
      </li>
      <li>
        <a href="#guests" class="black-text">Confirme sua presença</a>
      </li>
    </ul>
  </div>
</nav>