<nav>
  <div class="nav-wrapper red darken-4">
    <a href="#" class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="left">
      <li>
        <a href="#history">Hitória do casal</a>
      </li>
      <li>
        <a href="#cards">Informações</a>
      </li>
      <li>
        <a href="#pictures">Fotos</a>
      </li>
      <li>
        <a href="#guests">Confirme sua presença</a>
      </li>
    </ul>
  </div>
</nav>