<nav>
  <div class="nav-wrapper red lighten-3">
    <a href="#" class="brand-logo right black-text">Logo</a>
    <ul id="nav-mobile" class="left">
      <li>
        <a href="#history" class="black-text">Hitória do casal</a>
      </li>
      <li>
        <a href="#pictures" class="black-text">Fotos</a>
      </li>
      <li>
        <a href="#gifts" class="black-text">Lista de Presentes</a>
      </li>
      <li>
        <a href="#guests" class="black-text">Convidados</a>
      </li>
    </ul>
  </div>
</nav>